@model MyShop.Core.ViewModels.ProductListViewModel

<h2>@ViewBag.Header</h2>
<hr />

@foreach (var product in Model.Products)
{
    <div class="col-md-3"
         style="border: 3px solid #808080; border-radius: 5px;
                height: 300px; margin: 10px; padding: 5px;">
        <div class="col-md-12" style="padding: 1px;">
            <img class="card-img-top img-responsive" src="~/Content/ProductImages/@product.Image" alt="Photo"
                 style="height: 200px">
        </div>
        <div class="col-md-12">
            <strong>@Html.ActionLink(product.Name, "Details", new { id = product.Id })</strong>
        </div>
        <div class="col-md-12">
            <p>@product.Description</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" style="padding-left: 0;">
                <h4 class="text-danger">$@product.Price</h4>
            </div>
            <div class="col-md-6" style="padding-right: 0;">
                <a href="@Url.Action("AddToBasket", "Basket", new { Id=product.Id })" class="btn btn-sm btn-success" style="border-radius: 20px;">
                    Add to Basket
                </a>
            </div>
        </div>
    </div>
}